body {
  background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg?t=st=1652272950~exp=1652273550~hmac=002dd688203b84abc4c872b5ba60982bd82cb623f38cfbf64c4dd3fb072fa255&w=2000");
  background-size: cover;
}

#gameBoard {
  width: 85vmin;
  height: 85vmin;
  margin: auto;
  margin-top: 100px;
  background-color: black;
  border: 3px grey solid;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  color: white;
}

#failModel {
  position: absolute;
  width: 340px;
  height: auto;
  background-color: grey;
  top: 30vmin;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  text-align: center;
  display: none;
}

#failModel button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.snake {
  background-color: #ff8906;
  border-radius: 5px;
}

.food {
  background-image: url("https://img.icons8.com/office/344/pizza.png");
}
