body {
  background-image: url("https://i.pinimg.com/originals/c5/c4/fc/c5c4fc26b8ee3c3566a6889364c23699.jpg");
  background-size: cover;
}

#gameBoard {
  width: 85vmin;
  height: 85vmin;
  margin: auto;
  margin-top: 100px;
  background-color: black;
  border: 3px grey solid;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  color: white;
}

#model {
  position: absolute;
  width: 340px;
  height: auto;
  background-color: grey;
  top: 20vmin;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  text-align: center;
  display: none;
}

#model button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.snake {
  background-color: #ff8906;
  border-radius: 5px;
}

.food {
  background-image: url("https://img.icons8.com/office/344/pizza.png");
}
